<?xml version="1.0"?>
<config>
    <modules>
        <Grasshopperpebbles_Responsivemenu>
            <version>1.0.0</version>
        </Grasshopperpebbles_Responsivemenu>
    </modules>
    <adminhtml>
    	<layout>
            <updates>
                <responsivemenu>
                    <file>grasshopperpebbles_responsivemenu.xml</file>
                </responsivemenu>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <responsivemenu>
                                            <title>Navigation Settings</title>
                                        </responsivemenu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <responsivemenu>
                <use>standard</use>
                <args>
                    <module>Grasshopperpebbles_Responsivemenu</module>
                    <frontName>responsivemenu</frontName>
                </args>
            </responsivemenu>
        </routers>
        <layout>
            <updates>
                <responsivemenu>
                    <file>grasshopperpebbles_responsivemenu.xml</file>
                </responsivemenu>
            </updates>
        </layout>
    </frontend>   
    <global>
        <blocks>
            <responsivemenu>
                <class>Grasshopperpebbles_Responsivemenu_Block</class>
            </responsivemenu>
        </blocks>
        <models>
		    <responsivemenu>
		        <class>Grasshopperpebbles_Responsivemenu_Model</class>       
		    </responsivemenu>
		    <responsivemenu_adminhtml>
	             <class>Grasshopperpebbles_Responsivemenu_Adminhtml_Model</class>
	        </responsivemenu_adminhtml>
		</models>    
        <helpers>
            <responsivemenu>
                <class>Grasshopperpebbles_Responsivemenu_Helper</class>
            </responsivemenu>
        </helpers>
    </global>
    <default>
    	<responsivemenu>
    		<nav_settings>
    			<current_nav_parent>.nav-container</current_nav_parent>
    			<nav_parent>.nav-container</nav_parent>
    			<nav_container_parent>#nav</nav_container_parent>
    			<nav_position>last</nav_position>
    			<show_nav_caret>1</show_nav_caret>
    		</nav_settings>
    		<additional_settings>
    			<page_wrapper>.wrapper</page_wrapper>
    			<parent_menu_prefix>All</parent_menu_prefix>
    			<active_class>active</active_class>
    			<show_close_button>0</show_close_button>
    		</additional_settings>
    		<nav_toggle_settings>
    			<nav_toggle_type>icon</nav_toggle_type>
    			<nav_toggle_icon_class>gp-responsive-menu-icon gp-responsive-icon-y</nav_toggle_icon_class>
    			<nav_toggle_text>MENU</nav_toggle_text>
    			<show_nav_toggle_caret>1</show_nav_toggle_caret>
    			<nav_toggle_parent></nav_toggle_parent>
    			<nav_toggle_position>first</nav_toggle_position>
    		</nav_toggle_settings>
    		<media_query_settings>
    			<media_queries>{"query_modes":[{"mode":"Vertical","min":"480","max":"768"},{"mode":"Select","min":"","max":"479"}]}</media_queries>
    		</media_query_settings>
    	</responsivemenu>	
    </default>
</config>